.btn-1 {
    display: inline-block;
    position: relative;
    background: none;
    border-width: 0.04em 0.04em 0.09em 0.04em;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    background: rgba(0, 0, 0, 0.09);
}
.btn-text {
    display: block;
    padding: 25px 80px;
}
.btn-1::before,
.btn-1::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
}
.btn-text::before,
.btn-text::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
}

.btn-1:hover::before,
.btn-1:hover::after {
    width: 100%;
}
.btn-1:hover .btn-text::before,
.btn-1:hover .btn-text::after {
    height: 100%;
}
/*----- button 1 -----*/

.btn-1::before,
.btn-1::after {
    transition-delay: 0.2s;
}
.btn-1 .btn-text::before,
.btn-1 .btn-text::after {
    transition-delay: 0s;
}

.btn-1::before {
    right: 0;
    top: 0;
}

.btn-1::after {
    left: 0;
    bottom: 0;
}

.btn-1 .btn-text::before {
    left: 0;
    top: 0;
}

.btn-1 .btn-text::after {
    right: 0;
    bottom: 0;
}

.btn-1:hover::before,
.btn-1:hover::after {
    transition-delay: 0s;
}

.btn-1:hover .btn-text::before,
.btn-1:hover .btn-text::after {
    transition-delay: 0.2s;
}

.btn-text {
    font-weight: 400;
}

/*Add custom cursor so it auto inherits font styles*/

.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/

.typed-cursor {
    opacity: 0;
    display: none;
}

/*Custom cursor animation*/

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#img_code {
    width: 239px;
    margin-bottom: -28px;
    height: 109px;
}
.btn-2 {
    background-color: rgb(15,12,46);
    height: 39px;
    width: 171px;
    margin: 7px;
    border: 0px;
}
span.btn-text-b2 {
    font-size: 14px;
    color: white;
}
.project-category {
    margin-bottom: 35px;
}